// Este el partial de Base, acá van por ej. variables principales y selectores universales //

// VARIABLES //

// Colors //

$background-color: #1e212b;
$primary-color: #7f7caf;
$secondary-color: #ffeed6;
$third-color: #12664f;
$red-key: #984447;
$hover-grey: rgb(255, 255, 255); // Cambiar color
$hover-green: rgb(2, 71, 14); // Cambiar color
$background-blue: rgba(6, 25, 34, 0.795); // Cambiar color

// Font //

$font-family: "Inter", sans-serif;

$fw-Regular-400: 400;
$fw-Medium-500: 500;
$fw-Bold-700: 700;
$fw-ExtraBold-800: 800;

$font-size-title: 1.8rem;
$font-size-text: 1rem;

// MIXIN //

// Outline for guidance purpose //

@mixin cuadro-rojo {
  outline: solid red;
}

@mixin cuadro-verde {
  outline: solid green;
}

@mixin cuadro-amarillo {
  outline: solid yellow;
}

@mixin cuadro-violeta {
  outline: solid blueviolet;
}

// For buttons //

@mixin botones {
  position: relative;
  display: inline-flex;
  width: minmax(fit-content, 3rem);
  height: minmax(fit-content, 3rem);
  padding: 0.8rem;
  border-radius: 1.7rem;
  text-decoration: none;
  font-size: $font-size-text;
  transition-duration: 0.3s;
}

/* RESETS */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
