// Este el partial del Layout, ej. containers y el sistema de grid //

html,
body {
  width: 100vw;
  max-height: 100vh;
  background-color: $background-color;
  color: black;
  font-family: $font-family;
  font-size: $font-size-text;
  font-style: $fw-Regular-400;
  padding-top: 0.2rem;
}

.container {
  width: 90vw;
  max-width: 650px;
  height: auto;
  position: relative;
  justify-content: center;
  align-self: center;
  background-color: $primary-color;
  margin: 1rem auto;
  padding-bottom: 0.5rem;
  border-radius: 0.8rem;
}

h1 {
  display: block;
  padding: 0;
  text-align: center;
  font-size: $font-size-title;
  font-weight: $fw-Bold-700;
  margin-top: 1.2rem;
  padding-top: 0.8rem;
}

.subtitle {
  text-align: center;
  margin-top: 0.5rem;
  font-weight: $fw-Medium-500;
}

form {
  margin-top: 1rem;
  width: 100%;
}

fieldset {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  border: none;
}

label,
input {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 0.8rem;
}

input {
  border-radius: 0.3rem;
  height: 2.3rem;
  margin-top: 0.2rem;
  padding-left: 0.3rem;
}

select {
  display: block;
  position: relative;
  width: 100%;
}

p {
  width: 100%;
  position: relative;
}

.otro-abogado {
  border-top: 0.2rem solid $secondary-color;
  padding-top: 0.8rem;
  margin-bottom: 0.5rem;
}

.otro-abogado-opciones {
  padding: 0.2rem;
  margin: 0;
}

.radio-btn {
  display: inline;
  width: unset;
  height: 1rem;
  align-self: center;
  margin: 0;
}

.select-area,
option {
  width: 100%;
  height: 2.3rem;
  margin-top: 0.2rem;
  position: relative;
}

.select-title {
  padding-top: 0.8rem;
  margin-top: 0.5rem;
  border-top: 0.2rem solid $secondary-color;
}

textarea {
  position: relative;
  width: 100%;
  margin-top: 0.2rem;
  border-radius: 0.2rem;
  padding-left: 0.3rem;
}

//

input[type="number"] {
  -moz-appearance: textfield;
}

.btn-enviar {
  position: relative;
  width: 8rem;
  background-color: $third-color;
  color: white;
  margin: auto;
  border-radius: 0.8rem;
  text-decoration: none;
  transition-duration: 0.3s;
}

input[type="submit"]:hover {
  background-color: $secondary-color;
  color: $background-color;
  border: solid 0.1rem white;
}

input[type="submit"]:focus {
  background-color: $primary-color;
  color: $background-color;
  border: solid 0.1rem white;
}
